/* ============================= */
/* C O L O R  P A L E T T E */
/* ============================= */

:root {
  --black: #000;
  --white: #fff;

  --intergalactic-highway: #2a3a7a;

  /* catppuccin macchiato*/
  --midnight-express: #252739;
  --macchiato-base: #24273a;
  --dark: #1f202f;
  --eigengrau: #181926;
  --diva: #bda3f3;
  --macchiato-overlay0: #6e738d;
  /* catppuccin latte*/
  --latte-base: #eff1f5;
  --latte-mantle: #e6e9ef;
  --latte-crust: #dce0e8;
  --latte-mauve: #8839ef;
  --latte-text: #4d4f69;
  --latte-subtext1: #5c5f77;
  --latte-subtext0: #6c6f85;
  --latte-overlay0: #9ca0b0;

  /* ---- Gradients ---- */
  /* #region gradients */
  --gradient--back-1: radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 255, 255, 0.75) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      180deg,
      var(--latte-crust) 0%,
      var(--latte-mantle) 15%,
      var(--latte-base) 50%
    );
  --gradient--back-2: linear-gradient(
    var(--midnight-express) 0%,
    var(--midnight-express) 100%
  );
  /* #endregion gradients */
}

/* ============================= */
/* Dark Mode */
/* ============================= */
/* #region darkmode */
:root {
  /* #region text */
  --text-primary: var(--latte-base);
  --text-secondary: var(--macchiato-overlay0);
  --text-brand: var(--diva);
  --text-onprimary: var(--dark);
  --text-onsecondary: var(--latte-base);
  /* #endregion text */

  --icon-brand: var(--diva);
  --bg-primary: var(--diva);
  --bg-secondary: var(--eigengrau);
  --background-gradient-image: var(--gradient--back-2);

  --bg-brand: var(--intergalactic-highway);
}
/* #endregion darkmode */

/* ============================= */
/* Light Mode */
/* ============================= */
/* #region lightmode */
@media (prefers-color-scheme: light) {
  :root {
    /* #region text */
    --text-primary: var(--latte-text);
    --text-secondary: var(--latte-overlay0);
    --text-brand: var(--latte-mauve);
    --text-onprimary: var(--latte-text);
    --text-onsecondary: var(--latte-base);
    /* #endregion text */

    --icon-brand: var(--latte-mauve);

    --bg-primary: var(--latte-mauve);
    --bg-secondary: var(--midnight-express);
    --background-gradient-image: var(--gradient--back-1);
  }
}
/* #endregion lightmode */
